.tour-caption {
  text-align: center;
  align-items: center;
  padding-top: 7%;
  padding-bottom: 1%;
  
}

.tour-caption h1 {
  font-weight: bold;
  padding-top: 5%;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 3%; */
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 550px;
  cursor: pointer;
  width: 100%;
}

.card img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.price-button {
  position: absolute;
  top: 15px;
  right: 0px;
  background: rgb(255, 0, 0);
  border: none;
  border-radius: 15px 0px 0px 15px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  z-index: 10;
  transition: background 0.3s ease;
}

.price-button:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-start; 
  padding: 20px;
}

.overlay-content {
  text-align: left;
}

.overlay-content h3 {
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.overlay-content p {
  margin: 5px 0;
  font-size: 15px;
}

.more-destionation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0%;
  padding-bottom: 4%;
  
}

.more-destionation button{
  text-align: center;
  justify-content: center;
  width: 350px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 10px;
  border: none;
}
 @media screen and (max-width: 600px) {

  .tour-caption {
    text-align: center;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 1%;
    
  }
  
  .tour-caption h1 {
    font-weight: bold;
    padding-top: 8%;
  }
  .card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
    margin: 0px 0px;
    gap: 20px;
    
  }
  .card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 550px;
    cursor: pointer;
    width: 100%;
  }
  
  .card img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }

 

  .overlay-content h3 {
    font-size: 18px;
  }

  .overlay-content p {
    font-size: 12px;
  }

  .more-destionation button{
    width: 250px;
    height: 40px;
    font-size: 1rem;
  }
  
 }